# Dependências do Node.js
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build e arquivos gerados
dist/
build/

# Arquivos de configuração e logs
.DS_Store
.env
.env.local
.env.development
.env.production
.env.test
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log*
.vscode/
.idea/

# Cache do React
.cache/
*.cache

# Configuração do editor
*.swp
*.swo
*.sublime-workspace

# Configuração do sistema operacional
Thumbs.db
